* {
    margin: 0;
    box-sizing: border-box;
}


/* 影片 */
.video{
    width: 100%;
    margin-top: -3px;
}
video{
    width: 100%;
    min-height: 100%;
}

/* 最新消息 */
.main{
    width: 100%;
    /* border: 1px solid red; */
    position: relative;
}
.news_title{
    text-align: center;
    padding: 20px 0;
}
.news_title h2{
    font-size: 30px;
}

@media screen and (max-width: 767px){
    .news_title{
        padding: 5px 0;
    }
    .news_title h2{
        font-size: 20px;
    }
}
.home_news{
    /* border: 1px solid rebeccapurple; */
    width: 90%;
    margin: 0 auto;
    display: flex;
    font-size: 0;
}
.left_news{
    /* border: 1px solid red; */
    width: 22%;
    /* height: 100%; */
    position: relative;
}
.top_title{
    margin-top: 25%;
    /* border: 1px solid darkmagenta; */
}
.top_title a{
    font-size: 35px;
    text-decoration: none;
    /* border: 1px solid brown; */
    line-height: 60px;
    /* position: absolute; */
    left: 14%;
}
.bot_items{
    /* border: 1px solid red; */
    position: absolute;
    bottom: 10%;
    width: 160%;
}
.circle{
    width: 10%;
    margin-left: 30%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.circle_inner{
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.circle_inner:first-child{
    background-color: red;
}
.line{
    height: 4px;
    background-color: black;
}
.mid_pic{
    width: 80%; 
    height: 100%;
    /* border: 1px solid orange; */
}
.mid_pic .top{
    width: 61.2%;
    z-index: 2;
    /* border: 1px solid blue; */
    position: relative;
}
.mid_pic .top_inner{
    width: 100%;
    min-height: 100%;
    /* min-width: 100%; */
    clip-path: polygon(0 0,75% 0,100% 100%,25% 100%);
    
}
.mid_pic .bot{
    /* border: 1px solid blue; */
    position: absolute;
    width: 47%;
    right: 0;
    overflow: hidden;
}
.mid_pic .bot_inner{
    filter: blur(12px);
    opacity: .4;
    width: 100%;
    height: 100%;
}

/* 明星球員 */
.star{
    margin: 30px 0;
    width: 100%;
    min-width: 1200px;
}
.star_title{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
}
.star_title h2{
    font-size: 30px;
}
.star_player_box{
    width: 100%;
    min-width: 1200px;
    display: flex;
    /* height: 590px; */
    font-size: 0;
    background-color: black;
}
.img_hidden_box{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
}
.star_player_inner{
    width: 95%;
    max-height: 95%;
    /* height: 528px; */
    overflow: hidden;
    position: relative;
}
.hover_block{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #BEBEBE;
    opacity: 0.8;
    display: none;
    align-items: center;
    justify-content: center;
}
.hover_block span{
    color: red;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.star_player_inner img{
    width: 100%;
}
.star_player_inner:hover .hover_block{
    display: flex;
}

/* 數據 */
.stat{
    /* border: 1px solid green; */
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.stat_top{
    /* border: 1px solid rebeccapurple; */
    width: 100%;
}
.stat_title{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.stat_title span{
    font-size: 30px;
    font-weight: bold;
    padding-left: 30px;
}
.stat_line{
    /* border: 1px solid black; */
    height: 5px;
    background-color: black;
    margin-top: 7px;
}
.stat_bot{
    /* border: 1px solid gold; */
    width: 100%;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}
.player_box{
    width: 262px;
    /* border-right: 2px solid #BEBEBE; */
    /* box-shadow: 2px 2px 18px 0px #DEDEDE, -2px -2px 18px 0px #DEDEDE; */
    /* border: 4px solid black; */
}
.player{
    width: 230px;
}
.data_title{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.data_title span{
    font-size: 25px;
    font-weight: bold;
    padding-left: 25px;
}
.player_photo{
    width: 100%;
    height: 180px;
    position: relative;
}
.hidden{
    overflow: hidden;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0,67% 0,100% 100%,33% 100%);
}
.polygon{
    height: 85%;
    top: 15%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: #f6f6f6;
    clip-path: polygon(0 0,67% 0,100% 100%,33% 100%);
}
.player_photo img{
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
}
.player_photo .teamlogo{
    position: absolute;
    width: 75px;
    height: 75px;
    bottom: -10%;
    right: -10%;
}
.player_1,.player_2,.player_3{
    /* border: 1px solid brown; */
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
    font-size: 13px;
    font-weight: bold;
}
.player_1{
    font-size: 20px;
    width: 100%;
    margin-top: 10%;
}
.player .num{
    width: 40px;
    /* border: 1px solid slateblue; */
    text-align: center;
}
.player .name{
    /* border: 1px solid black; */
    text-align: start;
    width: 200px;
}
.player .data{
    width: 56px;
    text-align: center;
    color: red;
}

/* 關於我們 */
.about_outer{
    /* background-image: url(/圖片/未命名-1.png); */
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    min-width: 1200px;
    background-image: url(../picture/What-We-Do-BG.png);
    background-repeat: no-repeat;
    background-size: center;
    /* height: 703px; */
}
.about{
    width: 1200px;
    height: 703px;
    /* border: 1px solid black; */
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;

}
.img2,.img1{
    width: 60%;
    height: 311px;
    overflow: hidden;
    /* border: 1px solid red; */
}
.about_inner{
    width: 60%;
    padding: 20px;
}
.img2 img,.img1 img{
    max-width: 100%;
}
.img2{
    align-self: flex-end;
}
.about_inner{
   /* border: 1px solid blue; */
   position: absolute;
   background-color: rgba(255,255,255,.8);
   left: 50%;
   top: 50%;
   transform: translateX(-50%) translateY(-50%);
}
.about_inner h1{
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    text-shadow: 3px 3px 10px gray;
}
.about_inner p{
    font-weight: bold;
    line-height: 40px;
    font-size: 20px;
}


/* footer */
.footer{
    margin-top: 50px;
    width: 100%;
    min-width: 1200px;
    height: 120px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.footer_inner{
    width: 55%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
}
.footer_top{
    display: flex;
    width: 300px;
    height: 50%;
    justify-content: space-between;
    align-items: flex-end;
}
.footer_top a{
    width: 30px;
    height: 30px;
}
.footer_top img{
    width: 100%;
    height: 100%;
}
.footer_bot{
    height: 50%;
    display: flex;
    align-items: center;
}