* {
    margin: 0;
    box-sizing: border-box;
}

/* 標題 */
.news_header{
    width: 100%;
    height: 560px;
    font-family: 'Abril Fatface', cursive;
    margin: 0 auto;
    margin-bottom: 20px;
    color: white;
    text-shadow: 10px 13px 29px #1d428a;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-image: url(../picture/NEWS/kobe2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.news_header h2{
    font-size: 80px;
}

/* 最新消息 */
.news_main{
    width: 80%;
    margin: 0 auto;
}
.news_box{
    width: 100%;
    font-size: 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg,#f6f0f200 50%, #F0F0F0 50%);
    /* background-color: rgba(242,239,246,.3); */
}
.news_box:nth-child(2n) {
    background: linear-gradient(225deg,#f6f0f200 50%, #F0F0F0 50%);
}
.news_box:nth-child(2n) .pic_box{
    order: 2;
}
.pic_box{
    width: 55%;
}
.pic{
    width: 100%;
    position: relative;
    z-index: -1;
    /* object-fit: cover; */
}
.text_box{
    font-size: 16px;
    width: 45%;
    position: relative;
    right: 11%;
    padding: 30px;
    background-color: rgb(22, 44, 92);
    line-height: 32px;
    box-shadow: 14px 14px 20px -6px rgb(22, 44, 92);
    color: black;
}

.news_box:nth-child(2n) .text_box{
    box-shadow: -14px 14px 20px -6px rgb(22, 44, 92);
    left: 11%;
}
h3{
    font-size: 34px;
    margin-bottom: 17px;
    color: white;
    font-weight: bold;
    line-height: 40px;
    font-family: 'Abril Fatface', cursive;
}
.text_box p{
    /* text-shadow: 1px 1px 27px #f0f0f0; */
    color: white;
}
@media screen and (max-width:1200px){
    .news_main{
        width: 100%;
    }
}
@media screen and (max-width:992px) and (min-width:769px){
    .text_box{
        right: 0;
        width: 50%;
        max-height: 473px;
        overflow-y: auto;
    }
    .news_box:nth-child(2n) .text_box{
        left: 0;
    }
}
@media screen and (max-width:768px){
    .news_main{
        width: 100%;
    }
    .news_box{
        flex-direction: column;
        /* padding-bottom: 30%; */
    }
    .text_box{
        right: 0;
        width: 100%;
        /* transform: translateY(-60%); */
        position: absolute;
        bottom: 0;
    }
    .news_box:nth-child(2n) .text_box{
        left: 0;
    }
    .pic_box{
        width: 100%;
    }
    .news_box:nth-child(2n) .pic_box{
        order: 0;
    }
    .news_header h2{
        font-size: 60px;
    }
}
@media screen and (max-width:576px){
    .news_box{
        padding-bottom: 40%;
    }
    h3{
        font-size: 30px;
        margin-bottom: 5px;
    }
    .text_box{
        padding: 10px 20px;
    }
    .news_header h2{
        font-size: 40px;
    }
    .news_header{
        height: 400px;
    }
}
@media screen and (max-width:476px){
    .news_box{
        padding-bottom: 70%;
    }
}
@media screen and (max-width:400px){
    .news_box{
        padding-bottom: 100%;
    }
}

/* 更多消息 */
.more_news{
    width: 80%;
    /* min-width: 960px; */
    margin: 0 auto;
    margin-top: 30px;
    font-size: 0;
}
h4{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Abril Fatface', cursive;
}
.more_news_inner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}
.col_1_news{
    width: 50%;
    position: relative;
    /* border: 1px solid black; */
}
.col_pic{
    max-width: 100%;
    display: inline-block;
}
.col_cont{
    position: absolute;
    min-width: 300px;
    width: 60%;
    background-color: white;
    right: 0;
    bottom: 0;
    padding: 30px;
    line-height: 30px;
    
}
h6{
    color: #e51937;
    font-size: 16px;
}
h7{
    font-weight: bold;
    font-size: 16px;
}
.more_news p{
    font-size: 16px;
}
.col_2_news{
    padding-left: 35px;
    width: 50%;
}
.row_news{
    width: 100%;
    display: flex;
    padding-bottom: 35px;
}
.row_pic{
    width: 37%;
    /* max-width: 100%; */
}
.row_pic img{
    width: 100%;
}
.row_news .cont{
    width: 73%;
    padding-left: 20px;
    line-height: 30px;
}
@media screen and (max-width:1200px){
    .more_news{
        width: 100%;
    }
}
@media screen and (max-width:992px){
    .more_news_inner{
        flex-direction: column;
    }
    .col_1_news,.col_2_news{
        width: 100%;
    }
}
