* {
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #ebebeb;
}

/* 標題 */
.playerItr_title{
    width: 100%;
    /* min-width: 1200px; */
    height: 700px;
    margin: 0 auto;
    background-image: url(../picture/PLAYER_ITR/Joe-Johnson.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    font-size: 0;
    position: relative;
}
.path{
    width: 100%;
    align-self: flex-start;
    padding-left: 70px;
    position: absolute;
    top: 20px;
}
.path_text{
    font-size: 16px;
    display: block;
    color: rgb(175, 175, 175);
}
.title_player_box{
    width: 100%;
    color: white;
    font-size: 30px;
    padding-left: 70px;
    position: relative;
    /* width: 400px; */
    display: flex;
    flex-direction: column;
    font-size: 60px;
    text-shadow: 10px 13px 29px #1d428a;
}
.firstname,.lastname{
    font-weight: bolder;
    font-size: 80px;
    color: white;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 2px;
    /* padding: 30px; */
    /* text-shadow: 0 0 4px #FFF, 0 -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 10px #f80, 2px -25px 20px #f20; */
}
.title_logo{
    width: 84px;
    vertical-align: middle;
    margin-right: 10px;
}
@media screen and (max-width:1200px){
    .title_player_box{
        padding-left: 30px;
    }
    .title_player_box span:nth-child(3){
        font-size: 40px;
    }
    .firstname,.lastname{
        font-size: 70px;
    }
}
@media screen and (max-width:768px){
    .playerItr_title{
        background-position: right 35% center; 
        height: 600px;
        align-items: flex-end;
    }
    .firstname,.lastname{
        line-height: 70px;
        font-size: 60px;
    }
    .title_logo{
        width: 70px;
    }
    .title_player_box span:nth-child(3){
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 35px;
    }
}
@media screen and (max-width:576px){
    .playerItr_title{
        background-position: right 35% center; 
        height: 400px;
    }
    .title_player_box span:nth-child(3){
        font-size: 25px;
    }
    .firstname,.lastname{
        font-size: 40px;
        line-height: 40px;
    }
    .title_logo{
        width: 40px;
    }
}
@media screen and (max-width:400px){
    .title_player_box{
        padding-left: 15px;
    }
    .playerItr_title{
        background-position: right 35% center; 
        height: 350px;
    }
    .firstname,.lastname{
        font-size: 35px;
        line-height: 35px;
    }
    .title_player_box span:nth-child(3){
        font-size: 20px;
    }
}

/* 球員數據 */
.player_stat_box{
    width: 100%;
    /* min-width: 1200px; */
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: #0B153C;
    color: white;
    border-top: 2px solid #003D79;
    
}
.player_stat_title{
    text-align: center;
    padding: 20px 10px;
}
.player_stat_title h2{
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 2px;
}
.player_stat_inner{
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-bottom: 20px;
    justify-content: space-around;
}
.stat{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stat_label{
    text-align: center;
    padding: 10px;
    background-color: #003D79;
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.stat_body{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: 2px solid #003D79	;
    border-radius: 0 0 5px 5px;
}
.stat_container{
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}
.stat_num{
    margin-bottom: 5px;
    font-size: 35px;
    font-weight: bold;
}
.other_itr_box{
    width: 48%;
    min-width: 635px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}
.other_itr{
    width: 55%;
}
.other_itr_left{
    width: 40%;
}
.other_itr_inner{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.other_itr_inner span:last-child{
    font-weight: bold;
    
}
.healthy_circle{
    width: 20px;
    height: 20px;
    border-radius: 50% 50%;
    background-color: rgb(0, 255, 87);
    display: inline-block;
    margin-right: 15px;
    /* vertical-align: middle; */
}
@media screen and (max-width:1200px) and (min-width:993px){
    .stat_container{
        padding: 10px;
    }
    .other_itr_box{
        width: 57.5%;
        min-width: auto;
        padding-left: 5px;
    }
    .other_itr_left{
        width: 43%;
    }
}
@media screen and (max-width:992px){
    .player_stat_inner{
        flex-direction: column;
        align-items: center;
    }
    .stat{
        width: 74%;
    }

    .other_itr_box{
        width: 83%;
        min-width: 561px;
        padding-left: 0;
        padding-top: 20px;
    }
}
@media screen and (max-width:768px) and (min-width:577px){
    .stat{
        width: 77%;
    }
    .other_itr_box{
        font-size: 18px;
        min-width: 535px;
    }
    .other_itr:nth-child(2){
        width: 50%;
        min-width: 278.2px;
    }
    .other_itr_left{
        width: 45%;
    }
}
@media screen and (max-width:576px){
    .stat{
        width: 85%;
    }
    .other_itr_box{
        flex-direction: column;
        align-items: center;
        min-width: auto;
        width: 76%;
    }
    .other_itr{
        width: 95%;
    }
    .stat_num{
        font-size: 30px;
    }
}
@media screen and (max-width:464px){
    .player_stat_inner{
     font-size: 16px;
    }
    .stat_num{
        font-size: 25px;
    }
    .stat{
        min-width: 348.15px;
    }
    .stat_container{
        padding: 7px;
    }
    .player_stat_title h2{
        font-size: 25px;
    }
}
@media screen and (max-width:359px){
    .stat{
        min-width: auto;
    }
}

/* 球員照片 */
main{
    width: 100%;
    overflow: hidden;
    /* min-width: 1200px; */
}
.pic_itr_box{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.pic_itr_title{
    text-align: center;
    padding: 70px 0;
}
.pic_itr_title h3{
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
}
.pic_itr{
    width: 100%;
    display: flex;
    padding-bottom: 80px;
}
.pic_itr_inner{
    width: 50%;
}
.pic_itr_label{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 39px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    position: relative;
    animation-delay: 0.7s;
    visibility: hidden;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 2px;
    /* visibility: visible; */
}
.pic_itr2 .pic_left_label{
    left: 15%;
}
.pic_itr2 .pic_right_label{
    right: 15%;
}
@keyframes move{
    0% {
        transform: translateX(-38%) translateY(-45%);
    }
    100% {
        transform: translateX(-38%) translateY(-39%);
    }
}
.fireball{
    position: absolute;
    width: 60px;
    z-index: -1;
    transform: translateX(-38%) translateY(-39%);
    animation-name: move;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
}
.pic_itr_img_box{
    width: 100%;
    position: relative;
    /* min-height: 535px; */
}
.pic_itr_img{
    position: relative;
}
.pic_itr1 .left_itr .pic_itr_img{
    width: 100%;
    left: 16%;
    position: absolute;
    top: 57.5px;
    clip-path: polygon(0 0,100% 0,73% 100%,0 100%);
}

.pic_itr1 .right_itr .pic_itr_img{
    width: 100%;
    right: 16%;
    bottom: 57.5px;
    position: absolute;
    clip-path: polygon(27% 0,100% 0,100% 100%,0 100%);
}
.pic_itr2 .left_itr .pic_itr_img{
    width: 100%;
    left: 20.5%;
    top: 57.5px;
    position: absolute;
    clip-path: polygon(0 0,60% 0,100% 100%,0 100%);
}
.pic_itr2 .right_itr .pic_itr_img{
    width: 100%;
    right: 20.5%;
    bottom: 57.5px;
    position: absolute;
    clip-path: polygon(0 0,100% 0,100% 100%,40% 100%);
}
.pic_itr3 .left_itr .pic_itr_img{
    width: 100%;
    left: 16.5%;
    position: absolute;
    bottom: 57.5px;
    clip-path: polygon(0 0,97% 0,70% 100%,0 100%);
}
.pic_itr3 .right_itr .pic_itr_img{
    width: 100%;
    right: 16.5%;
    top: 57.5px;
    position: absolute;
    clip-path: polygon(30% 0,100% 0,100% 100%,3% 100%);
}
.pic_itr .left_itr .hid,.pic_itr .right_itr .hid{
    position: relative;
    visibility: hidden;
}
.back_block{
    position: absolute;
    background-image: url(../picture/PLAYER_ITR/Triplets.png);
    background-repeat: repeat-y;
    background-size: 80%;
    background-position: center;
    /* opacity: .8; */
    /* filter: blur(3px); */
    left: 50%;
    transform: translateX(-50%);
    top: 230px;
    width: 80%;
    height: 89%;
    background-color: #0B153C;
    z-index: -2;
}
@media screen and (max-width:992px){
    .pic_itr_box{
        width: 90%;
    }
    .fireball{
        width: 55px;
    }
    .pic_itr_label{
        font-size: 35px;
        padding-bottom: 10px;
        padding-top: 19.5px;
    }
    .pic_itr {
        padding-bottom: 50px;
    }
    .pic_itr1 .left_itr .pic_itr_img,.pic_itr2 .left_itr .pic_itr_img,.pic_itr3 .right_itr .pic_itr_img{
        top: 40px;
    }
    .pic_itr1 .right_itr .pic_itr_img,.pic_itr2 .right_itr .pic_itr_img,.pic_itr3 .left_itr .pic_itr_img{
        bottom: 40px;
    }
}
@media screen and (max-width:768px){
    .pic_itr_title{
        padding: 40px 0;
    }
    .pic_itr_title h3{
        font-size: 30px;
    }
    .pic_itr_box{
        width: 95%;
    }
    .fireball{
        width: 50px;
    }
    .pic_itr_label{
        font-size: 30px;
        padding-bottom: 10px;
        padding-top: 19.5px;
    }
    .pic_itr1 .left_itr .pic_itr_img,.pic_itr2 .left_itr .pic_itr_img,.pic_itr3 .right_itr .pic_itr_img{
        top: 37px;
    }
    .pic_itr1 .right_itr .pic_itr_img,.pic_itr2 .right_itr .pic_itr_img,.pic_itr3 .left_itr .pic_itr_img{
        bottom: 37px;
    }
    .back_block{
        top: 140px;
    }
}
@media screen and (max-width:576px){
    .pic_itr_box{
        width: 105%;
        position: relative;
        right: 2.5%;
    }
    .pic_itr_title{
        padding: 40px 10px 30px 10px;
    }
    .fireball{
        width: 40px;
    }
    .pic_itr_label{
        font-size: 25px;
        padding-bottom: 5px;
    }
    .pic_itr1 .left_itr .pic_itr_img,.pic_itr2 .left_itr .pic_itr_img,.pic_itr3 .right_itr .pic_itr_img{
        top: 31px;
    }
    .pic_itr1 .right_itr .pic_itr_img,.pic_itr2 .right_itr .pic_itr_img,.pic_itr3 .left_itr .pic_itr_img{
        bottom: 31px;
    }

}
@media screen and (max-width:476px){
    .fireball{
        width: 30px;
    }
    .pic_itr_label{
        font-size: 20px;
    }
    .pic_itr1 .left_itr .pic_itr_img,.pic_itr2 .left_itr .pic_itr_img,.pic_itr3 .right_itr .pic_itr_img{
        top: 27.5px;
    }
    .pic_itr1 .right_itr .pic_itr_img,.pic_itr2 .right_itr .pic_itr_img,.pic_itr3 .left_itr .pic_itr_img{
        bottom: 27.5px;
    }
}

