* {
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #ebebeb;
}
/* 設定賽程表 */
.sch{
    /* border: 1px solid black; */
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
    height: 90px;
    display: flex;
}
.sch .sch_inner{
    width: calc(100% - 60px);
    background-color: white;
    display: flex;
    overflow: hidden;
    /* border: 1px solid red; */
}
.item{
    min-width: 160px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
    padding-top: 5px;
    border-right: 1px solid rgba(0,0,0,0.4);
}
.item-top-con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}
.logo_and_name{
    display: flex;
    align-items: center;
}
.logo_and_name img{
    margin: 0 10px;
}
.item-top-con img{
    width: 25px;
    height: 25px;
}
.item-buttom{
    font-weight: bold;
    color: rgba(0,0,0,0.4);
    text-align: center;
    padding-bottom: 5px;
    
}
.sch .leff_but,.sch .right_but{
    /* border: 1px solid blue; */
    height: 100%;
    width: 60px;
    cursor: pointer;
}
.sch .leff_but button,.sch .right_but button{
    border-style: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 30px;
    font-weight: 700px;
}
.sch .leff_but button,.sch .right_but button:hover{
    color: red;
}

/* 設定導覽列 */
.nav{
    /* border: 1px solid black; */
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
    height: 60px;
    display: flex;
    justify-content: space-around;
    background-color: #1d428a;
    background-color: black;
}
.nav .nav_inner{
    /* border: 1px solid white; */
    height: 60px;
}
.nav .nav_inner a{
    /* border: 1px solid wheat; */
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-weight: bold;
    line-height: 60px;
}
.nav_inner:nth-child(4) a{
    color: #e51937;
}
.nav .nav_inner a:hover{
    color: #e51937;
}
.nav .logo{
    /* border: 1px solid white; */
    width: 150px;
    height: 60px;
    position: relative;
}
.nav .logo img{
    width: 100%;
    position: absolute;
    top: -40%;
    z-index: 999;
}

/* 標題 */
.playerItr_title{
    width: 100%;
    min-width: 1200px;
    height: 700px;
    margin: 0 auto;
    background-image: url(../picture/PLAYER_ITR/Joe-Johnson.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    display: flex;
    align-items: center;
    font-size: 0;
    position: relative;
}
.path{
    width: 100%;
    align-self: flex-start;
    padding-left: 70px;
    position: absolute;
    top: 20px;
}
.path_text{
    font-size: 16px;
    display: block;
    color: rgb(175, 175, 175);
    font-weight: bold;
}
.title_player_box{
    width: 100%;
    color: white;
    font-size: 30px;
    padding-left: 70px;
    position: relative;
    /* width: 400px; */
    display: flex;
    flex-direction: column;
    font-size: 60px;
    text-shadow: 10px 13px 29px #1d428a;
}
.firstname,.lastname{
    font-weight: bolder;
    font-size: 80px;
    color: white;
    /* padding: 30px; */
    /* text-shadow: 0 0 4px #FFF, 0 -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 10px #f80, 2px -25px 20px #f20; */
}
.title_logo{
    width: 84px;
    vertical-align: middle;
    margin-right: 10px;
}

/* 球員數據 */
.player_stat_box{
    width: 100%;
    min-width: 1200px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: #0B153C;
    color: white;
}
.player_stat_title{
    text-align: center;
    padding: 20px 10px;
}
.player_stat_inner{
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-bottom: 20px;
    justify-content: space-around;
}
.stat{
    width: 40%;
    display: flex;
    flex-direction: column;
    border: 2px solid #003D79	;
    border-radius: 5px;
}
.stat_label{
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid 	#003D79	;
}
.stat_body{
    display: flex;
    justify-content: space-around;
}
.stat_container{
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}
.stat_num{
    margin-bottom: 5px;
    font-size: 35px;
    font-weight: bold;
}
.other_itr_box{
    width: 48%;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}
.other_itr{
    width: 55%;
}
.other_itr_left{
    width: 40%;
}
.other_itr_inner{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.other_itr_inner span:last-child{
    font-weight: bold;
}
.healthy_circle{
    width: 20px;
    height: 20px;
    border-radius: 50% 50%;
    background-color: rgb(0, 255, 87);
    display: inline-block;
    margin-right: 15px;
    /* vertical-align: middle; */
}

/* 球員照片 */
main{
    width: 100%;
    min-width: 1200px;
}
.pic_itr_box{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.pic_itr_title{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding: 70px 0;
}
.pic_itr{
    width: 100%;
    display: flex;
    padding-bottom: 80px;
}
.pic_itr_inner{
    width: 50%;
}
.pic_itr_label{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 39px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    position: relative;
    
}
@keyframes move{
    0% {
        transform: translateX(-38%) translateY(-45%);
    }
    100% {
        transform: translateX(-38%) translateY(-39%);
    }
}
.fireball{
    position: absolute;
    width: 60px;
    z-index: -1;
    transform: translateX(-38%) translateY(-39%);
    animation-name: move;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
}
.pic_itr_img_box{
    width: 100%;
    position: relative;
    /* min-height: 535px; */
}
.pic_itr_img{
    position: relative;
}
.pic_itr1 .left_itr .pic_itr_img{
    width: 100%;
    left: 10%;
    clip-path: polygon(0 0,100% 0,73% 100%,0 100%);
}
.pic_itr1 .right_itr .pic_itr_img{
    width: 100%;
    right: 10%;
    clip-path: polygon(27% 0,100% 0,100% 100%,0 100%);
}
.pic_itr2 .left_itr .pic_itr_img{
    width: 100%;
    left: 10%;
    clip-path: polygon(0 0,57% 0,100% 100%,0 100%);
}
.pic_itr2 .right_itr .pic_itr_img{
    width: 100%;
    right: 10%;
    clip-path: polygon(0 0,100% 0,100% 100%,43% 100%);
}
.pic_itr3 .left_itr .pic_itr_img{
    width: 100%;
    left: 10%;
    clip-path: polygon(0 0,95% 0,68% 100%,0 100%);
}
.pic_itr3 .right_itr .pic_itr_img{
    width: 100%;
    right: 10%;
    clip-path: polygon(32% 0,100% 0,100% 100%,5% 100%);
}
.back_block{
    position: absolute;
    background-image: url(../picture/PLAYER_ITR/Triplets.png);
    background-repeat: repeat-y;
    background-size: 80%;
    background-position: center;
    /* opacity: .8; */
    /* filter: blur(3px); */
    left: 50%;
    transform: translateX(-50%);
    top: 230px;
    width: 80%;
    height: 89%;
    background-color: #0B153C;
    z-index: -2;
}



/* footer */
.footer{
    margin-top: 50px;
    width: 100%;
    min-width: 1200px;
    height: 120px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.footer_inner{
    width: 55%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
}
.footer_top{
    display: flex;
    width: 300px;
    height: 50%;
    justify-content: space-between;
    align-items: flex-end;
}
.footer_top a{
    width: 30px;
    height: 30px;
}
.footer_top img{
    width: 100%;
    height: 100%;
}
.footer_bot{
    height: 50%;
    display: flex;
    align-items: center;
}