* {
    margin: 0;
    box-sizing: border-box;
}

/* 選擇時間 */
.box1{
    width: 100%;
    height: 200px;
    background-color: #ebebeb;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.box1 h1{
    color: red;
    font-size: 40px;
    font-family: 'Abril Fatface', cursive;
}
.week{
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    font-size: 20px;
}
.week ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
}
.week li{
    display: block;
    text-align: center;
    border: 1px solid #ebebeb;
    background-color: white;
    width: 107px;
}
.week li:first-child{
    background-color: #f6f6f6;
}
.week li:hover{
    background-color: #f6f6f6;
}
.week a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 10px;
    color: #959595;
}
@media screen and (max-width:1200px){
    .week ul{
        width: 749px;
    }
}
@media screen and (max-width:992px){
    .week ul{
        width: 643px;
    }
}
@media screen and (max-width:768px){
    .week ul{
        width: 523px;
    }
    .week li{
        width: 87px;
    }
    .week a{
        font-size: 13px;
        padding: 10px 5px;
    }
    .box1{
        height: 150px;
        margin-top: 30px;
    }
}
@media screen and (max-width:576px){
    .week ul{
        width: 350px;
        transform: translateY(25%);
    }
    .week li{
        width: 87px;
    }
    .week a{
        font-size: 13px;
        padding: 10px 5px;
    }
    .box1{
        height: 130px;
    }
    .box1 h1{
        font-size: 30px;
    }
}


/* 對戰組合 */
.box2{
    width: 80%;
    margin: 0 auto;
    margin-top: 64px;
    display: flex;
}
.left_box2{
    width: 62%;
    overflow: hidden;
}
.left_box2 .time{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #1a477b;
    color: white;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.left_box2 .time .title{
    font-size: 20px;
    display: inline-block;
    margin: 0 10px;
}

.left_box2 .time button{
    height: 50px;
    width: 40px;
    background-color: #1a477b;
    outline: none;
    border-style: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.left_box2 .time button:hover{
    background-color: #006bb6;
}
.num1{
    /* animation-duration:5s; */
}
.matchup{
    width: 100%;
    margin-bottom: 40px;
}
.matchup .detail_time{
    width: 100%;
    height: 55px;
    border: 1px solid #ebebeb;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 26px;
    padding-left: 50px;
    font-weight: bold;
}
.matchup .detail_time .final{
    color: red;
    font-size: 30px;
}
.team_matchup{
    width: 100%;
    border: 1px solid #ebebeb;
}
.team_matchup .team{
    width: 88%;
    height: 211px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.team_matchup .team .logo_img{
    width: 23%;
}
.box2 .lose{
    opacity: .3;
}
.team_matchup .team .scores{
    font-size: 45px;
    font-weight: bold;
}
.team_name{
    display: flex;
    height: 60px;
    justify-content: space-between;
    border-top: 1px solid #ebebeb;
}
.team_name_left,.team_name_right{
    width: 47%;
    background-color: #ebebeb;
}
.team_name_left span,.team_name_right span{
    width: 90%;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    font-weight: bold;
}
.team_name_right span{
    position: relative;
    left: 10%;
}
.team_name_left{
    clip-path: polygon(0 0,80% 0,100% 100%,0 100%);
}
.team_name_right{
    clip-path: polygon(0 0,100% 0,100% 100%,20% 100%);
}
@media screen and (max-width:1410px) and (min-width:993px){
    .box2{
        width: 90%;
    }
}
@media screen and (max-width:1200px) and (min-width:993px){
    .box2{
        margin-top: 100px;
        width: 95%;
    }
    .left_box2{
        width: 58%;
    }
    .team_matchup .team{
        height: 195px;
    }
}
@media screen and (max-width:992px){
    .box2{
        flex-direction: column;
        margin-top: 100px;
        align-items: center;
    }
    .left_box2{
        width: 100%;
    }
    .team_matchup .team{
        width: 92%;
    }
}
@media screen and (max-width:768px){
    .box2{
        width: 90%;
    }
    .team_matchup .team .scores{
        font-size: 40px;
    }

    .team_matchup .team .logo_img{
        width: 30%;
    }
}
@media screen and (max-width:576px){
    .box2{
        width: 95%;
    }
    .team_name_left span,.team_name_right span{
        font-size: 20px;
    }
    .matchup .detail_time .final{
        font-size: 25px;
    }
    .team_matchup .team .scores{
        font-size: 30px;
    }
    .team_matchup .team{
        width: 95%;
        height: 160px;
    }
    .team_name{
        height: 50px;
    }
    .team_name_left span, .team_name_right span{
        line-height: 50px;
    }
    .team_name_left, .team_name_right{
        width: 50%;
    }
    .matchup .detail_time{
        height: 45px;
    }
    .left_box2 .time .title{
        font-size: 16px;
    }
    .left_box2 .time button{
        font-size: 25px;
    }
}


/* 戰績表 */
.right_box2{
    width: 33%;
    /* border: 1px solid blue; */
    margin-left: 5%;
    font-size: 20px;
}
.right_box2_title{
    text-align: center;
    background-color: #1d428a;
    color: white;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    line-height: 51px;
}
.standing_table{
    width: 100%;
    border: 1px solid #DEDEDE;
}
tr{
    height: 45px;
    text-align: center;
}
.text_left{
    text-align: left;
}
tr:nth-child(2n - 1){
    background-color: #DEDEDE	;
}
table{
    width: 100%;
}
.standing_place{
    width: 21%;
    color: red;
}
.standing_win,.standing_lose{
    width: 10%;
}
.standing_title,.standing_team{
    font-weight: bold;
    color: black;
}
.standing_team .teamlogo,.standing_team span{
    width: 30px;
    height: 30px;
    margin: 0 12px;
    vertical-align: middle;
}
@media screen and (max-width:1410px) and (min-width:993px){
    .right_box2{
        margin-left: 3%;
        width: 35%;
    }
    .standing_team span{
        margin-left: 0;
    }
}
@media screen and (max-width:1200px) and (min-width:993px){
    .right_box2{
        width: 39%;
    }
}
@media screen and (max-width:992px){
    .right_box2{
        width: 62%;
    }
}
@media screen and (max-width:768px){
    .right_box2{
        width: 83%;
        margin-left: 0;
    }
}
@media screen and (max-width:576px){
    .right_box2{
        width: 100%;
    }
    .standing_team span{
        margin-left: 0;
    }
}
@media screen and (max-width:374px){
    .right_box2{
        width: 102%;
    }
}