* {
    margin: 0;
    box-sizing: border-box;
}

/* 設定賽程表 */
.sch{
    /* border: 1px solid black; */
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
    height: 90px;
    display: flex;
}
.sch .sch_inner{
    width: calc(100% - 60px);
    background-color: white;
    display: flex;
    overflow: hidden;
    /* border: 1px solid red; */
}
.item{
    min-width: 160px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
    padding-top: 5px;
    border-right: 1px solid rgba(0,0,0,0.4);
}
.item-top-con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}
.logo_and_name{
    display: flex;
    align-items: center;
}
.logo_and_name img{
    margin: 0 10px;
}
.item-top-con img{
    width: 25px;
    height: 25px;
}
.item-buttom{
    font-weight: bold;
    color: rgba(0,0,0,0.4);
    text-align: center;
    padding-bottom: 5px;
    
}
.sch .leff_but,.sch .right_but{
    /* border: 1px solid blue; */
    height: 100%;
    width: 60px;
    cursor: pointer;
}
.sch .leff_but button,.sch .right_but button{
    border-style: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 30px;
    font-weight: 700px;
}
.sch .leff_but button,.sch .right_but button:hover{
    color: red;
}

/* 設定導覽列 */
.nav{
    /* border: 1px solid black; */
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
    height: 60px;
    display: flex;
    justify-content: space-around;
    background-color: #1d428a;
    background-color: black;
}
.nav .nav_inner{
    /* border: 1px solid white; */
    height: 60px;
}
.nav .nav_inner a{
    /* border: 1px solid wheat; */
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-weight: bold;
    line-height: 60px;
}
.nav_inner:nth-child(2) a{
    color: #e51937;
}
.nav .nav_inner a:hover{
    color: #e51937;
}
.nav .logo{
    /* border: 1px solid white; */
    width: 150px;
    height: 60px;
    position: relative;
}
.nav .logo img{
    width: 100%;
    position: absolute;
    top: -40%;
    z-index: 999;
}

/* 選擇時間 */
.box1{
    width: 100%;
    height: 200px;
    min-width: 1200px;
    background-color: #ebebeb;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.box1 h1{
    color: red;
    font-size: 40px;
}
.week{
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    /* border: 1px solid black; */
    font-size: 20px;
}
.week ul{
    display: flex;
    width: 100%;
    list-style: none;
    padding: 0px;
}
.week li{
    display: block;
    text-align: center;
    border: 1px solid #ebebeb;
    background-color: white;
}
.week li:first-child{
    background-color: #f6f6f6;
}
.week li:hover{
    background-color: #f6f6f6;
}
.week a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 15px;
    color: #959595;
}


/* 對戰組合 */
.box2{
    width: 80%;
    min-width: 1200px;
    /* border: 1px solid black; */
    margin: 0 auto;
    margin-top: 64px;
    display: flex;
}
.left_box2{
    width: 62%;
    /* border: 1px solid blue; */
}
.left_box2 .time{
    width: 100%;
    height: 50px;
    /* border: 1px solid darkgoldenrod; */
    display: flex;
    background-color: #1a477b;
    color: white;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.left_box2 .time .title{
    font-size: 20px;
    display: inline-block;
}
.left_box2 .time button{
    height: 50px;
    width: 50px;
    background-color: #1a477b;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.matchup{
    width: 100%;
    height: 321px;
    margin-bottom: 40px;
    /* border: 1px solid darkmagenta; */
}
.matchup .detail_time{
    width: 100%;
    height: 55px;
    border: 1px solid #ebebeb;
    border-bottom: none;
    /* padding: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 26px;
    padding-left: 50px;
    font-weight: bold;
}
.matchup .detail_time .final{
    color: red;
    font-size: 30px;
}
.team_matchup{
    width: 100%;
    border: 1px solid #ebebeb;
    height: 271px;
}
.team_matchup .team{
    width: 88%;
    height: 211px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    /* border: 1px solid #ebebeb; */
}
.team_matchup .team .logo_img{
    /* max-width: 275px; 
    max-height: 200px;   */
    width: 23%;
}
.box2 .lose{
    opacity: .5;
}
.team_matchup .team .scores{
    font-size: 45px;
    font-weight: bold;
}
.team_name{
    display: flex;
    height: 60px;
    justify-content: space-between;
    border-top: 1px solid #ebebeb;
}
.team_name_left,.team_name_right{
    width: 47%;
    height: 100%;
    /* border: 1px solid red; */
    background-color: #ebebeb;
}
.team_name_left span,.team_name_right span{
    width: 90%;
    display: inline-block;
    /* border: 1px solid red; */
    height: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    font-weight: bold;
}
.team_name_right span{
    position: relative;
    left: 10%;
}
.team_name_left{
    clip-path: polygon(0 0,80% 0,100% 100%,0 100%);
}
.team_name_right{
    clip-path: polygon(0 0,100% 0,100% 100%,20% 100%);
}


/* 戰績表 */
.right_box2{
    width: 33%;
    /* border: 1px solid blue; */
    margin-left: 5%;
    font-size: 20px;
}
.right_box2_title{
    text-align: center;
    background-color: #1d428a;
    color: white;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    line-height: 51px;
}
.standing_table{
    width: 100%;
    border: 1px solid #DEDEDE;
}
tr{
    height: 45px;
    text-align: center;
}
.text_left{
    text-align: left;
}
.odd{
    background-color: #DEDEDE	;
}
table{
    width: 100%;
}
.standing_place{
    width: 21%;
    color: red;
}
.standing_win,.standing_lose{
    width: 10%;
}
.standing_title,.standing_team{
    font-weight: bold;
    color: black;
}
.standing_team .teamlogo,.standing_team span{
    width: 30px;
    height: 30px;
    margin: 0 12px;
    vertical-align: middle;
}

/* footer */
.footer{
    margin-top: 50px;
    width: 100%;
    min-width: 1200px;
    height: 120px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.footer_inner{
    width: 55%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
}
.footer_top{
    display: flex;
    width: 300px;
    height: 50%;
    justify-content: space-between;
    align-items: flex-end;
}
.footer_top a{
    width: 30px;
    height: 30px;
}
.footer_top img{
    width: 100%;
    height: 100%;
}
.footer_bot{
    height: 50%;
    display: flex;
    align-items: center;
}