* {
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #ebebeb;
}

/* 標題 */
.teamItr_title{
    width: 80%;
    height: 255px;
    margin: 0 auto;
    margin-top: 80px;
    background-image: url(../picture/team_background/Aliens.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
.title_logo{
    width: 16%;
    min-width: 190px;
    margin-left: 30px;
}
.title_team_name{
    color: white;
    font-size: 76px;
    font-weight: bold;
    margin-left: 30px;
}

/* 球隊數據 */
.team_stat{
    width: 80%;
    height: 96px;
    margin: 0 auto;
    background-color: #0B153C;
    border-top: 2px solid #66737C;
    color: white;
    display: flex;
    flex-wrap: wrap;
}
.team_stat_top,.team_stat_bottom{
    display: flex;
    width: 50%;
}
.pg_stat{
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align: center;
    justify-content: center;
    font-size: 30px;
}
.stat_title{
    font-size: 16px;
    line-height: 10px;
}
.pg_stat span{
    border-right: 1px solid #66737C;
}
.streak span{
    border: none;
}
.games_played{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: center;
}
.games_played_inner{
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-left: 1px solid #66737C;
    border-right: 1px solid #66737C;
}
.games_played_inner:nth-child(2){
    border-top: 1px solid #66737C;
    border-bottom: 1px solid #66737C;
}
.winloss{
    width: 20%;
    /* height: 60px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.winloss .box{
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #66737C;
}
.winloss_icon{
    width: 34px;
    height: 32px;
    font-weight: bold;
    background-color: white;
    text-align: center;
    line-height: 32px;
    margin-right: 10px;
}
.win_num,.lose_num{
    font-size: 30px;
}
.win .winloss_icon{
    color: green;
    font-size: 22px;
}
.loss .winloss_icon{
    color: red;
    font-size: 22px;
}
.pct{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pct_title{
    font-size: 22px;
    margin-right: 10px;
    margin-left: 5px;
    width: 55px;
    height: 32px;
    font-weight: bold;
    background-color: white;
    color: black;
    text-align: center;
    line-height: 32px;
}
.pct_num{
    font-size: 30px;
    padding-right: 5px;
}
@media screen and (max-width:1200px){
    .teamItr_title{
        width: 90%;
    }
    .team_stat{
        width: 90%;
    }
}
@media screen and (max-width:992px){
    .teamItr_title{
        width: 95%;
    }
    .team_stat{
        width: 95%;
        height: 192px;
       justify-content: center;
    }
    .team_stat_top,.team_stat_bottom{
        width: 80%;
    }
    .team_stat_top{
        border-bottom: 1px solid #66737C;
    }
}
@media screen and (max-width:576px){
    .teamItr_title{
        width: 100%;
        margin-top: 40px;
    }
    .title_logo{
        margin-left: 5px;
        min-width: 163px;
    }
    .title_team_name{
        font-size: 50px;
        margin-left: 0;
    }
    .team_stat{
        width: 100%;
        height: 150px;
    }
    .team_stat_top,.team_stat_bottom{
        width: 100%;
    }
    .pg_stat,.win_num,.lose_num,.pct_num{
        font-size: 24px;
    }
    .stat_title{
        font-size: 12px;
    }
    .loss .winloss_icon,.win .winloss_icon,.pct_title{
        font-size: 20px;
    }
    .pct_title{
        margin-right: 5px;
        width: 50px;
    }
}

/* 隊伍賽程 */
.team_scoreboard{
    width: 70%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.team_scoreboard_inner{
    width: 49%;
    border: 1px solid #d7dadc;
    /* display: inline-block; */
    /* margin: 10px; */
}
.gametime_box{
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;
    background-color: #BEBEBE;
}
.gametime_title{
    font-weight: bold;
    margin-right: 10px;
}
.score_box{
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 100%;
    align-items: center;
    background-color: white;
}
.score_team{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    /* border: 1px solid black; */
}
.lastgame .score_team{
    min-width: 136.2px;
}
.score_teamlogo{
    width: 90px;
    height: 90px;
    /* width: 70%; */
}
.score_box .score{
    font-size: 40px;
}
.score_title_end{
    font-weight: bold;
    font-size: 20px;
    color: red;
    /* border: 1px solid blue; */
}
.nextgame .right_team{
    display: flex;
    justify-content: flex-end;
}
.score_title_time{
    font-weight: bold;
}
.score_title_time .game_time{
    font-size: 40px;
}
.nextgame .score_team{
    width: 20%;
}
@media screen and (max-width:1200px){
    .team_scoreboard{
        width: 80%;
    }
    .score_team{
        margin: 0 10px;
    }
}
@media screen and (max-width:992px){
    .team_scoreboard{
        width: 95%;
    }
    .score_box .score,.score_title_time .game_time{
        font-size: 30px;
    }
    .score_title_end{
        font-size: 16px;
    }
}
@media screen and (max-width:768px){
    .team_scoreboard{
        flex-wrap: wrap;
        justify-content: center;
    }
    .team_scoreboard_inner{
        width: 70%;
    }
    .nextgame{
        margin-top: 20px;
    }
}
@media screen and (max-width:576px){
    .team_scoreboard_inner{
        width: 80%;
    }
}
@media screen and (max-width:476px){
    .team_scoreboard_inner{
        width: 90%;
    }
}
@media screen and (max-width:415px){
    .team_scoreboard_inner{
        width: 100%;
    }
    .pct{
        width: 34%;
    }
    .team_scoreboard{
        width: 100%;
    }
}
@media screen and (max-width:350px){
    .score_team{
        margin: 0;
        justify-content:space-around;
    }
    .score_teamlogo{
        width: 80px;
        height: 80px;
    }
}


/* 隊伍介紹 */
.main{
    width: 80%;
    margin: 15px auto;
    display: flex;
}
.teamItr_content{
    width: 43%;
    padding: 36px;
    background-color: white;
    margin-right: 20px;
    line-height: 30px;

}
.teamItr_content_inner{
    position: sticky;
    top: 36px;
}
.teamItr_content h2{
    margin-bottom: 21px;
    font-size: 35px;
}
.teamItr_player_list{
    width: 70%;
}
.teamItr_player_list_inner{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
.player_photo_box{
    width: 40%;
    min-width: 274px;
    padding: 15px;
    position: relative;
    margin-right: 35px;
}
.hidden{
    width: 100%;
    position: relative;
    clip-path: polygon(0 0,67% 0,100% 100%,33% 100%);
}
.player_photo{
    width: 100%;
    position: relative;
    z-index: 2;
    top: 5px;
}
.polygon{
    height: 85%;
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: #d7dadc;
    clip-path: polygon(0 0,67% 0,100% 100%,33% 100%);
}
.coach_polygon{
    background-color: white;
}
.playerItr{
    width: 60%;
}
.playerItr h3{
    font-size: 35px;
    margin-bottom: 13px;
}
.playerItr .coach{
    font-size: 20px;
    color: red;
}
.playerItr h4{
    font-size: 20px;
}
.more{
    margin-top: 15px;
}
.more a{
    text-decoration: none;
    font-weight: bold;
}
@media screen and (max-width:1200px){
    .main{
        width: 90%;
    }
}
@media screen and (max-width:992px){
    .main{
        width: 95%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .teamItr_content{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    .teamItr_player_list{
        width: 80%;
    }
    .teamItr_content_inner{
        position: relative;
        top: auto; 
    }
    .player_photo_box{
        padding: 0;
    }
}
@media screen and (max-width:768px){
    .teamItr_player_list{
        width: 100%;
    }
    .playerItr h3{
        margin-bottom: 5px;
    }
    .player_photo_box{
        margin-right: 30px;
    }
}
@media screen and (max-width:576px){
    .teamItr_player_list_inner{
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 40px;
    }
    .player_photo_box{
        margin-bottom: 30px;
    }
    .playerItr{
        width: auto;
    }
    .teamItr_content{
        padding: 22px;
    }
}