* {
    margin: 0;
    box-sizing: border-box;
}


/* 標題 */
.teams_title{
    width: 100%;
    height: 560px;
    margin: 0 auto;
    color: white;
    /* color: red; */
    text-shadow: 10px 13px 29px #1d428a;
    display: flex;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-image: url(../picture/teams/All-Star-facts-1600x897.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.teams_title h2{
    font-size: 80px;
    font-family: 'Abril Fatface', cursive;
}


/* 隊伍LOGO */
main{
    width: 100%;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-top: 50px;
    overflow: hidden;
}
main ul{
    display: flex;
    max-width: 911px;
    /* min-width: 911px; */
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 0;
}
main li{
    list-style: none;
    width: 100%;
    padding-bottom: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.li_2,.li_6{
    background-image: url(../picture/teams/back.png);
}
.li_1,.li_5{
    background-image: url(../picture/teams/back2.png);
}
.li_4,.li_8{
    background-image: url(../picture/teams/back3.png);
}
.li_3,.li_7{
    background-image: url(../picture/teams/back4.png);
}
main a{
    position: relative;
    width: 50%;
    height: 100%;
    display: inline-block;
    padding: 10px 0 30px;
}
main .team_logo{
    max-width: 412.5px;
    max-height: 300px;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
main .left_a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
    clip-path: polygon(0 0,67% 0,100% 100%,33% 100%);
    left: -50%;
    top: -70%;
    opacity: 0;
    z-index: 1;
    transition: all .3s;
}
main .left_a:hover::before{
    left: 0;
    top: 0;
    opacity: 1;
}
main .right_a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
    clip-path: polygon(33% 0,100% 0,67% 100%,0 100%);
    right: -50%;
    top: -70%;
    opacity: 0;
    z-index: 1;
    transition: all .3s;
}
main .right_a:hover::before{
    right: 0;
    top: 0;
    opacity: 1;
}
.left_explore{
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    left: 100%;
    top: 120%;
    color: red;
    opacity: 0;
    transition: all .3s;
    display: flex;
    align-items: center;
}
.right_explore{
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    right: 100%;
    top: 120%;
    color: red;
    opacity: 0;
    transition: all .3s;
    display: flex;
    align-items: center;
}
.explore_line{
    width: 70px;
    margin-right: 10px;
    height: 3px;
    display: inline-block;
    background-color: red;
    vertical-align: middle;
}
main a:hover .left_explore{
    left: 100%;
    top: 100%;
    transform: translateX(-150%) translateY(100%);
    opacity: 1;
}
main a:hover .right_explore{
    right: 100%;
    top: 100%;
    transform: translateX(150%) translateY(100%);
    opacity: 1;
}
.team_name{
    width: 50%;
}
.team_name h2{
    font-size: 50px;
    position: absolute;
    top:50%;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 2px;
    transform: translateY(-50%);
    color: #0B153C;
    color: white;
    text-shadow: -9px 8px 3px black;
    font-weight: bold;
}
@media screen and (max-width:768px){
    .team_name h2{
        font-size: 35px;
        left: 60%;
    }
    main li{
        background-size: 120%; 
    }
    .teams_title h2{
        font-size: 60px;
    }
}
@media screen and (max-width:576px){
    main li{
        background-size: 160%; 
    }
    main .li_5 a{
        width: 45%;
    }
    .team_name h2{
        left: 55%;
    }
    main a:hover .right_explore{
        right: 140%;
        transform: translateX(150%) translateY(100%);
    }
    main a:hover .left_explore{
        left: 140%;
        transform: translateX(-150%) translateY(100%);
    }
    .teams_title h2{
        font-size: 40px;
    }
    .teams_title{
        height: 400px;
    }

}
li:nth-child(2n) .team_name h2{
    left: 25%;
    transform: translateY(-50%) translateX(-25%);
}
@media screen and (max-width:576px){
    li:nth-child(2n) .team_name h2{
        left: 15%;
        transform: translateY(-50%) translateX(-15%);
    }

}
.nav_inner:nth-child(3){
    color: ;
}

