* {
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #ebebeb;
}

/* 影片 */
/* 左邊搜尋BAR */
main{
    width: 100%;
    display: flex;
}
.left_aside{
    min-width: 435px;
    width: 30%;
    background-color: rgb(34, 34, 34);
    border-top: 1px solid rgb(195, 195, 195);
    /* overflow-y: auto; */
}

.left_aside_inner{
    position: sticky;
    top:0px;
    overflow-y: auto;
}
.close_but{
    margin-left: 32px;
    display: none;
    height: 40px; 
    width: 40px;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
}
.fox{
    height: 3px;
    display: inline-block;
    width: 40px;
    background-color: white;
    position: absolute;
    top: 50%;
    border-radius: 10px;
}
.fox_top{
    transform: rotate(45deg);
}
.fox_bot{
    transform: rotate(-45deg);
}

.video_search_box{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 32px;
    padding-top: 20px;
    font-weight: bold;

}
.video_search_title{
    font-size: 21px;
    color: rgb(255, 255, 255);
}
.text_input_box{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 32px;
}
.text_input{
    width:100%;
    display: flex;
    position: relative;
}
.search_icon_box{
    width: 25px;
    height: 25px;
    padding: 0 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.search_icon{
    width: 25px;
    height: 25px;
    /* left: 5px; */
}
.search_input{
    padding: 10px;
    padding-left: 40px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
}
.tabs_box{
    padding: 20px 32px;
    width: 100%;
    font-weight: bold;
    /* display: flex;
    justify-content: space-between; */
}

.tab_but{
    font-size: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: rgb(34, 34, 34);
    color: rgb(136, 136, 136);
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
    padding: 0 3px;
    border: 1px solid red;
    -webkit-appearance: none
}
.tab_but:hover{
    border-bottom: 3px solid rgb(5, 122, 255);
    color: rgb(255, 255, 255);
}
.tabpanel_box{
    width: 100%;
    padding: 20px 0;
    font-weight: bold;
}
.tabpanel{
    width: 100%;
}
.tabpanel_inner{
    padding: 13px 0;
    border-bottom: 1px solid rgb(195, 195, 195);
}
.tabpanel_box span{
    cursor: pointer;
    color: rgb(221, 221, 221);
    font-size: 20px;
    margin-left: 32px;
}
.active_inner span{
    color: #e51937;
}
.tabpanel_inner span:hover{
    color: #e51937;
}
.active{
    border-bottom: 3px solid rgb(5, 122, 255);
    color: rgb(255, 255, 255);
}


/* 右側主要影片 */
.sec{
    padding-left: 20px;
    margin-top: 20PX;
    padding-bottom: 36px;
    width: 70%;
    overflow: hidden;
}
.section_title_box{
    width: 100%;
}
.section_title_inner{
    margin-bottom: 12px;
    
}
.section_title_box h2{
    font-size: 20px;
    text-align: center;
}
.video_box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.video_inner{
    width: 33%;
    padding: 23px;
    padding-left: 0;
}
.video_inner a{
    text-decoration: none;
    color: black;
}
.video_pic_box{
    width: 100%;
    position: relative;
    cursor: pointer;
}
.video_pic{
    width: 100%;
    border-radius: 5px;
}
.video_play_icon{
    position: absolute;
    width: 45px;
    height: 45px;
    border: 3px solid white;
    border-radius: 50% 50%;
    opacity: 0.6;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    
}
.video_play_icon::before{
    content: "";
    position: absolute;
    border-left: 18px solid white;
    border-right: 8px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left: 50%;
    top: 50%;
    transform: translateX(-25%) translateY(-50%);
}
.video_inner p{
    margin-top: 10px;
    font-weight: bold;
    line-height: 22px;
}
/* 跳出的YT影片內容 */
.overlay_box {
    width: 100VW;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

/* 控制容器的寬度，padding設%數時，是依據父元素的寬，因此無法直接對pop下寬度 */
.overlay {
    width: 70%;
    position: relative;
    right: 8.4px;
    
}
.pop_close_but{
    height: 60px; 
    width: 60px;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(-50%);
    cursor: pointer;
    
}
.pop_fox{
    height: 3px;
    display: inline-block;
    width: 40px;
    background-color: white;
    position: absolute;
    top: 50%;
    border-radius: 10px;
}
.pop_close_but:hover .pop_fox{
    background-color: red;
}
.pop_fox_top{
    transform: rotate(45deg);
}
.pop_fox_bot{
    transform: rotate(-45deg);
}
/* 固定容器長寬比為16:9 */
.pop {
    padding-top: 56.25%;
    position: relative;
    overflow: hidden;
}

/* 使用絕對定位把寬高都填滿容器，若使用相對定位，因為有PADDING的關係會無法填滿 */
iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.see_more{
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.see_more_but{
    font-weight: bolder;
    font-size: 20px;
    border-radius: 21px;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    border: 5px solid black;
    position: relative;
}
.see_more_but:hover{
    background-color: black;
    color: white;
}

@media screen and (max-width : 1200px){
    .video_inner{
        width: 50%;
    }
}
@media screen and (max-width : 992px) and (min-width:769px){
    .left_aside{
        min-width: 375px;
        width: 40%;
    }
    .sec{
        width: 60%;
    }
    .tab_but:nth-child(4){
       padding-top: 8px;
    }
    .tabs_box{
        padding-right: 4px;
    }
    .video_inner{
        width: 100%;
    }
    .section_title_inner{
        margin-bottom: 0px;
    }
}
@media screen and (max-width:768px){
    .nav{
        z-index: 8;
    }
    .left_aside{
        transform: translateX(-100%);
        position: fixed;
        top: 0;
        z-index: 5;
        height: 100vh;
        transition: 1s all;
        overflow-y: auto;
    }
    .-on{
        transform: translateX(0%);   
    }
    .-on .left_aside_inner{
        position: static;
    }
    .close_but{
        display:inline-block ;
    }
 
    .sec{
        width: 100%;
        padding-left: 0;
    }
    .section_title_inner{
        margin-top: 16px;
        margin-bottom: 0px;
    }
    .video_inner{
        padding: 20px;
        padding-left: 10px;
    }
    .video_inner:nth-child(2n - 1){
        padding-left: 20px;
        padding-right: 10px;
    }
}

@media screen and (max-width:576px){
    .video_inner{
        width: 100%;
        padding: 20px;
    }
    .video_inner:nth-child(2n - 1){
        padding: 20px;
    }
    .left_aside{
        min-width: 375px;
        width: 40%;
    }
    .tab_but:nth-child(4){
        padding-top: 8px;
     }
     .tabs_box{
        padding-right: 2px;
    }
    .overlay{
        width: 85%;
    }
}
@media screen and (max-width:320px){
    .left_aside{
        min-width: 320px;
        height: 100vh;
        
    }
}

.footer{
    margin-top: 0 !important;
}
.nav_inner:nth-child(4) a{
    color: #e51937 !important;
}


